# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
.env
venv/
.venv/
.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Uploads & Responses (opsiyonel)
uploads/
responses/
